html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-flow: column;
  height: 100%;
  background-color: rgb(31, 31, 31);
}

.container .navBar {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
  background-color:rgb(54, 54, 54);
  font-size: 0.8em;
  padding-left: 1rem;
  padding-right: 1rem;
}

.container .navBar .navText {
  text-align: center;
  color: rgb(180, 2, 2);
}

.container .content {
  flex: 1 0 auto;
  color: lightgray; /*This could be somewhere else if I had classes for specific items inside content*/
}

.content iframe {
  border: none;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.container .footer {
  flex: 0 1 20px;
  background-color:rgb(54, 54, 54);
  font-size: 1em;
  padding-left: 1rem;
  padding-right: 1rem;
}

.container .footer .navText {
  text-align: center;
  color: rgb(180, 2, 2);
  font-size: 1em;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.footer .navText a:link {
  color: rgb(180, 2, 2);
}

.footer .navText a:visited {
  color: rgb(180, 2, 2);
}

.footer .navText a:hover {
  color:darkgrey;
}

.footer .navText a:active {
  color: white;
}